/* Styles for home page */
/* COLORS
Background -rgb(7, 56, 85) 
Button - rgb(23, 91, 112)*/
:root{
    --background: rgba(255, 248, 237, 1);

    --button-color-default: rgb(236, 146, 146);
}

body{
    background-color: var(--background);
    margin-left: 5rem;
    margin-top: 7rem;
    font-family: 'Poppins', sans-serif;
}

.intro{
    display: flex;
}
.name{
    font-weight: bold;
    font-size: 4em;
}
