
body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.container{

    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: grid;

    grid-template-rows: 85px 2fr;

}

/* .container div{
    border: 2px solid black;
} */

.content{

    display: grid;

    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(6, 2fr);
    gap: 10px;
}

.button{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 6;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    text-align: center;
    font-size: 1.8vw;
    font-weight: bold;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(78, 78, 78);
}

.selector-button{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 6;
    grid-row-end: 9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8vw;
    font-weight: bold;
    padding: 3vw;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(78, 78, 78);
}

.table{
    grid-column-start: 3;
    grid-column-end: 6;

    grid-row-start: 3;
    grid-row-end: 9;

    display: flex;
    
    border-radius: 30px;
    overflow: clip;
    background: #cc5151;
}

.sub-holder{
    
    border-radius: 30px;
    border: none;
    padding: 15px 15px;
    box-shadow: inset 2px 2px 10px black;

    display: block;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}
.sub-holder::-webkit-scrollbar{
    height: 7px;
    width: 10em;
}
.sub-holder::-webkit-scrollbar-button{
   display: none;
}
.sub-holder::-webkit-scrollbar-track{
    background-color: #ffd6bd;
}
.sub-holder::-webkit-scrollbar-thumb {
    background: #662700;
    border-radius: 10px;
}
.sub{
    width: 130px;
    height: 100%;
    border-radius: 30px;
    margin: 0 2.5px;

    display: inline-block;
    background-color: #ffddc7;
    box-shadow: 2px 2px 10px black;
}

@media only screen and (max-width: 1200px){
    
    .content{
    
        display: grid;
    
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(6, 2fr);
    }

    .button{
        grid-column-start: 2;
        grid-column-end: 3;

        grid-row-start: 3;
        grid-row-end: 6;
    
    }
    
    .selector-button{
        grid-column-start: 2;
        grid-column-end: 3;
    
        grid-row-start: 6;
        grid-row-end: 9;
    
    }
    
    .table{
        grid-column-start: 3;
        grid-column-end: 6;
    
        grid-row-start: 3;
        grid-row-end: 9;
    
    }
    .sub{
        width: 100px;
        border-radius: 25px;
    }
}

@media only screen and (max-width: 1000px){
    
    .content{
    
        display: grid;
    
        grid-template-rows: repeat(14, 1fr);
        grid-template-columns: repeat(6, 2fr);
        gap: 10px;
    }

    .button{
        grid-column-start: 2;
        grid-column-end: 3;

        grid-row-start: 4;
        grid-row-end: 7;
    
    }
    
    .selector-button{
        grid-column-start: 2;
        grid-column-end: 3;
    
        grid-row-start: 7;
        grid-row-end: 10;
    
    }
    
    .table{
        grid-column-start: 3;
        grid-column-end: 6;
    
        grid-row-start: 4;
        grid-row-end: 10;
    
    }
    .sub{
        width: 90px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 850px){

    .content{
    
        display: grid;
    
        grid-template-rows: repeat(16, 1fr);
        grid-template-columns: repeat(6, 2fr);
        gap: 10px;
    }

    .button{
        grid-column-start: 2;
        grid-column-end: 3;

        grid-row-start: 5;
        grid-row-end: 8;
    
    }
    
    .selector-button{
        grid-column-start: 2;
        grid-column-end: 3;
    
        grid-row-start: 8;
        grid-row-end: 11;
    
    }
    
    .table{
        grid-column-start: 3;
        grid-column-end: 6;
    
        grid-row-start: 5;
        grid-row-end: 11;
    
    }
    .sub{
        width: 80px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 750px){

    .content{

        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(6, 2fr);
        gap: 10px;
    }
    
    .button{

        grid-column-start: 2;
        grid-column-end: 4;
    
        grid-row-start: 3;
        grid-row-end: 5;
    
        padding: 4vw;
        font-size: 1em;
        text-transform: uppercase;
    }
    
    .selector-button{
        
        grid-column-start: 4;
        grid-column-end: 6;
    
        grid-row-start: 3;
        grid-row-end: 5;
    
        padding: 4vw;
        font-size: 1em;
    }
    
    .table{

        grid-column-start: 2;
        grid-column-end: 6;
    
        grid-row-start: 5;
        grid-row-end: 9;
    }
    
    .sub{

        width: 80px;
        border-radius: 15px;
    }
}
  